.custom_css {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);

  border-radius: 5em;

  height: 140px;
  width: 420px;

  ::-webkit-scrollbar {
    width: 0;
  }
}

.custom_css > div {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.custom_css > textarea {
  z-index: 1;

  grid-row: 1/-1;
  grid-column: 1/-1;

  padding: 1.5em;
  padding-left: 4em;
  padding-right: 4em;

  font-size: large;
  color: #fff;
  background: linear-gradient(90deg, #222222, #444444, #666666);

  border-radius: 5em;
  outline: none;

  resize: none;

  ::-webkit-scrollbar {
    width: 0;
  }
}

.c_editBtn {
  z-index: 2;
  grid-area: -1/-1/-2/-2;
}

.c_deleteBtn {
  z-index: 2;
  grid-area: 1/-1/2/-2;
}

.c_completedBtn {
  z-index: 2;
  grid-area: 1/1/2/2;
}
